.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  padding:20px;
  margin: 20px;
  color: black;
}

a:hover {
  background-color: lightgreen;
}

div {
  margin: 20px;
}

h1 {
  text-align: center;
}

h2 {
  padding:20px;
  margin-top: 20;
}
img {
  max-height: 500px;
  max-width: 500px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}